.greeny{
	background-image: linear-gradient(67deg,#43e1a8,#219393) !important;
}
.orange-gradient{
	background-image: linear-gradient(61deg, rgb(255, 221, 0) 0%, rgb(251, 176, 52) 74%) !important;
}

.blue-gradient{
	background-image: linear-gradient(61deg, rgb(81, 176, 255) 0%, rgb(33, 150, 243) 50%) !important;
}

.blue-dark-gradient{
	background-image: linear-gradient(61deg, #2196f39c 0%, #2196f3 74%) !important;
}

.price-tag{
	background: linear-gradient(rgba(24, 32, 79, 0.72) 0%, rgba(24, 32, 79, 0.45) 100%) !important;
}

.smoothie{
	background: linear-gradient(rgba(108, 207, 238, 0.5) 0%, rgba(76, 127, 228, 0.5) 100%) !important;
}

.meh{
	background: linear-gradient(209.21deg, rgb(75, 190, 255) 13.57%, rgb(33, 107, 218) 98.38%) !important;
}
.rosh{
	background: linear-gradient(246deg, #ff3e5e, #ff7f3f) !important;
}

